/* Code tidied up by ScrapBook */
@font-face {
  font-family: "sr-cart-icons";
  font-style: normal;
  font-weight: normal;
  src: url("sr-cart-icons.eot") format("embedded-opentype"), url("sr-cart-icons.woff2") format("woff2"), url("sr-cart-icons.woff") format("woff"), url("sr-cart-icons.ttf") format("truetype"), url("sr-cart-icons.svg") format("svg");
}
[class^="icon-sr-"]::before, [class*=" icon-sr-"]::before { font-family: "sr-cart-icons"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; -moz-osx-font-smoothing: grayscale; }
.icon-sr-cart-7::before { content: ""; }
